/* .loader-container {
    position: relative;
    width: 100%;
    height: 100 bvh; 
    top: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0d12;
  } */

  .loader-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Corrected from '100 bvh' to '100vh' */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #0e0d12;  */
    background-image: linear-gradient(216deg, rgba(11,12,11, 0.05) 0%, rgba(11,12,11, 0.05) 25%,rgba(79,78,78, 0.05) 25%, rgba(79,78,78, 0.05) 38%,rgba(94,85,85, 0.05) 38%, rgba(94,85,85, 0.05) 75%,rgba(40,39,39, 0.05) 75%, rgba(40,39,39, 0.05) 100%),linear-gradient(44deg, rgba(45,83,27, 0.05) 0%, rgba(45,83,27, 0.05) 34%,rgba(40,39,39, 0.05) 34%, rgba(40,39,39, 0.05) 57%,rgba(94,85,85, 0.05) 57%, rgba(94,85,85, 0.05) 89%,rgba(37,38,37, 0.05) 89%, rgba(37,38,37, 0.05) 100%),linear-gradient(241deg, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05) 14%,rgba(40,39,39, 0.05) 14%, rgba(40,39,39, 0.05) 60%,rgba(40,39,39, 0.05) 60%, rgba(40,39,39, 0.05) 69%,rgba(40,39,39, 0.05) 69%, rgba(40,39,39, 0.05) 100%),linear-gradient(249deg, rgba(40,39,39, 0.05) 0%, rgba(40,39,39, 0.05) 32%,rgba(0,0,0, 0.05) 32%, rgba(0,0,0, 0.05) 35%,rgba(0,0,0, 0.05) 35%, rgba(0,0,0, 0.05) 51%,rgba(0,0,0, 0.05) 51%, rgba(0,0,0, 0.05) 100%),linear-gradient(92deg, rgb(32,32,32),rgb(32,32,32));

}
  
   @keyframes square-animation {
    0% {
     left: 0;
     top: 0;
    }
   
    10.5% {
     left: 0;
     top: 0;
    }
   
    12.5% {
     left: 32px;
     top: 0;
    }
   
    23% {
     left: 32px;
     top: 0;
    }
   
    25% {
     left: 64px;
     top: 0;
    }
   
    35.5% {
     left: 64px;
     top: 0;
    }
   
    37.5% {
     left: 64px;
     top: 32px;
    }
   
    48% {
     left: 64px;
     top: 32px;
    }
   
    50% {
     left: 32px;
     top: 32px;
    }
   
    60.5% {
     left: 32px;
     top: 32px;
    }
   
    62.5% {
     left: 32px;
     top: 64px;
    }
   
    73% {
     left: 32px;
     top: 64px;
    }
   
    75% {
     left: 0;
     top: 64px;
    }
   
    85.5% {
     left: 0;
     top: 64px;
    }
   
    87.5% {
     left: 0;
     top: 32px;
    }
   
    98% {
     left: 0;
     top: 32px;
    }
   
    100% {
     left: 0;
     top: 0;
    }
   }
   
   .loader {
    position: relative;
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
   }
   
   .loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    box-shadow: 1px 2px 4px #015941;
    background: #18c297;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
   }
   
   .loader-square:nth-of-type(0) {
    animation-delay: 0s;
   }
   
   .loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
   }
   
   .loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
   }
   
   .loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
   }
   
   .loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
   }
   
   .loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
   }
   
   .loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
   }
   
   .loader-square:nth-of-type(7) {
    animation-delay: -10s;
   }
 

   /* loador two in bottom  */

   .loader {
    font-size: 2em;
    font-weight: 900;
  }
  .loader > * {
    color: black;
  }
  .loader span {
    display: inline-flex;
  }
  .loader span:nth-child(2) {
    letter-spacing: -1em;
    overflow: hidden;
    animation: reveal 1500ms cubic-bezier(0.645, 0.045, 0.355, 1) infinite
      alternate;
  }
  @keyframes reveal {
    0%,
    100% {
      opacity: 0.5;
      letter-spacing: -1em;
    }
    50% {
      opacity: 1;
      letter-spacing: 0em;
    }
  }
  
